.title {
    text-align: left;
    font-size: 20px;
    color: #3c3c3c;
    font-weight: bold;
    margin-left: 10px;
}

.time {
    text-align: left;
    font-size: 15px;
    color: gray;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
}

.img-responsive {
    text-align: center;
    margin-bottom: 10px;
    width: 98%;
}

.container {
    width: 100%;
    color: #000000;
}